.hero {
    position: relative;
    width: 100%;
    z-index: -1;
}

.cover {
    width: 100%;
    height: auto;
    display: block;
}

.jeans, .blouse, .shoes, .dress {
    width: 100%;
    height:700px;
    object-fit: cover;
    display: block;
}
.store{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.hero-text {
    position: absolute;
    top: 40%;
    right: 8%;
    transform: translateY(-50%);
    text-align: right;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.hero-text p {
    font-size: 1.2rem;
}

.hero-button{
    position: relative;
    bottom:10%;
    left:20%;
}

.custom-btn {
    background-color: #ffffff49;
    background: linear-gradient(0deg, #ffffff49, #d1d2d2);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.286), rgb(209, 210, 210));
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text h1{
    font-size:2rem;
}

.hero-text p{
    font-size:0.9rem;
}
